SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,10.88.33.9
ENVIRONMENT=development
MAINTENANCE_MODE=False
REQUEST_DEBUG_MIDDLEWARE=True
PAYSTACK_SECRET_KEY=sk_test_mocked
# DATABASE_URL=postgres://user:password@localhost:5432/tellect_lms
# REDIS_URL=redis://127.0.0.1:6379/1
