SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,10.88.33.9
ENVIRONMENT=development
MAINTENANCE_MODE=False
REQUEST_DEBUG_MIDDLEWARE=True
PAYSTACK_SECRET_KEY=sk_test_mocked
DATABASE_URL=postgresql://user:password@host:5432/dbname?sslmode=require
# REDIS_URL=redis://127.0.0.1:6379/1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=tellect-lms-media
AWS_S3_REGION_NAME=us-east-1
AWS_S3_CUSTOM_DOMAIN=
AWS_DEFAULT_ACL=public-read
